:root {
    --base00: #2d2d2d;
    --base01: #393939;
    --base02: #515151;
    --base03: #747369;
    --base04: #a09f93;
    --base05: #d3d0c8;
    --base06: #e8e6df;
    --base07: #f2f0ec;
    --base08: #f2777a;
    --base09: #f99157;
    --base0a: #fc6;
    --base0b: #9c9;
    --base0c: #6cc;
    --base0d: #69c;
    --base0e: #c9c;
    --base0f: #d27b53;
}
